header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* CTA aka Call to Action styles*/

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* Header Socials */

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* Picture of ME!! */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 30rem;
    height: 42rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Should center horizontally */
    margin-top: 4rem;
    border-radius: 7rem 7rem 0 0;
    overflow: hidden;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

/* Scroll Down */

.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* Media Queries (Medium Devices) */
@media screen and (max-width: 1024px) {
    .container {
        height: 68vh;
    }

    .header_socials a::after {
        visibility: hidden; /* Remove the content to prevent overlap on image */
    }

    .me {
        width: 25rem; /* Adjust the width for better responsiveness */
        height: 35rem; /* Adjust the height for better responsiveness */
    }
}

/* Media Queries (Small Devices) */
@media screen and (max-width: 650px) {
    .container {
        height: 100vh;
    }

    .header_socials,
    .scroll_down {
        display: none;
    }

}