/* Footer Component CSS */

/* Common Styles */

footer {
    background: var(--color-footer-bg);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 6rem;
    color: var(--color-footer-text);
}

footer a {
    color: var(--color-footer-text);
    transition: color 0.4s ease; /* Transition for text color */
}

/* Hover effect for links */
footer a:hover {
    color: var(--color-footer-light-hover); /* Blue for both light and dark mode on hover */
}

.footer_logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 2.5rem;
}

.footer_socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2.5rem;
}

.footer_socials a {
    background: var(--color-footer-bg);
    color: var(--color-footer-text);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer_socials a:hover {
    background: var(--color-footer-light-hover);
    color: var(--color-footer-text);
    border-color: var(--color-footer-light-hover);
}

.footer_copyright {
    margin-bottom: 4.5rem;
    color: var(--color-footer-text);
}


/* Media Queries (Small Devices) */
@media screen and (max-width: 600px) {
    footer {
        margin-top: 4.5rem;
        padding-top: 2rem;
    }
    .permalinks {
        flex-direction: column;
        gap: 1.15rem;
        margin-bottom: 2rem;
    }

    .footer_socials {
        margin: 1.8rem 0;
    }

    .footer_logo {
        margin-bottom: 1rem;
    }
}