/* Nav CSS */

nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    padding: 0.7rem 1.7rem;
    position: fixed; /* to afix to page on scroll */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    bottom: 2rem;
    display: flex;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
    position: relative;
    overflow: hidden;
}

nav a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0.2rem;
    transition: left 0.4s;
}

nav a:hover::before,
nav a.active::before {
    left: 100%;
    transition: left 0.4s;
}

nav a:hover {
    background: var(rgba(0, 0, 0, 0.3));
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}

/* Tooltip class for nav */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid black; /* If you want dots under the hoverable text */
  }